a{
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

a:hover{
  opacity: 0.7;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px;
  background: #fff;
  z-index: 1;
}

.header__logo{
  height: 25%;
  margin-left: 35px;
}

.header__logo img{
  height: 100%;
}

.header__nav ul{
  display: flex;
}

.header__nav ul li{
  font-size: 15px;
  font-weight: bold;
  margin-right: 35px;
}

.menu{
  display: none;
}

.top{
  background: url(../img/mv.png) no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin-bottom: 80px;
}

.top__text{
  color: #fff;
  font-size: 26px;
}

.news{
  width: 70%;
  margin: 0 auto 80px;
}

.news__item{
  border: 1px solid #000;
  margin-bottom: 10px;
  padding: 25px 20px;
  font-size: 14px;
  display: flex;
}

.news__item-text{
  font-weight: bold;
  margin-left: 10px;
  font-size: 16px;
}

.contact{
  background: #eee;
  text-align: center;
  padding: 100px 0;
}

.contact__ttl{
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.contact-text{
  font-size: 16px;
  margin-bottom: 40px;
}

.contact__btn{
  display: block;
  text-align: center;
  width: 300px;
  padding: 15px 0;
  margin: 0 auto;
  color: #fff;
  background: red;
  font-size: 18px;
}

.footer{
  background: #222;
  padding: 20px;
  color: #fff;
}

.footer__contents{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__contents__icon{
  font-size: 12px;
}

.footer__contents__nav ul{
  display: flex;
}

.footer__contents__nav ul li{
  font-size: 12px;
  padding: 0 12px;
  border-right: 1px solid #fff;
}

.footer__contents__nav ul li:last-child{
  border-right: none;
  padding-right: none;
}

@media  screen and (max-width: 768px) {
  .header__nav{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #eee;
    transition: .7s;
    text-align: center;
  }

  .header__nav ul{
    padding-top: 80px;
    display: block;
  }

  .header__nav ul li{
    margin-top: 50px;
    font-weight: normal;
    color: blue;
  }

  .menu{
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    right: 20px;
    top: 0;
  }

  .menu__top,
  .menu__middle,
  .menu__bottom{
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu__top{
    top: 0;
  }

  .menu__middle{
    top: 14px;
  }

  .menu__bottom{
    bottom: 0;
  }

  .menu.open span:nth-of-type(1){
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2){
    opacity: 0;
  }

  .menu.open span:nth-of-type(3){
    top: 14px;
    transform: rotate(-45deg);
  }

  .in{
    transform: translateX(100%);
  }

  .news{
    width: 85%;
  }

  .news__item{
    padding: 15px 20px;
  }

  .footer__contents{
    display: block;
    text-align: center;
  }

  .footer__contents__icon{
    font-size: 12px;
  }

  .footer__contents__nav ul{
    display: block;
  }

  .footer__contents__nav ul li{
    border: none;
    padding-top: 20px;
  }
}